/* Variables y estilos globales */
:root {
    --color-fondo-oscuro: #0d1b2a;
    --color-texto-oscuro: #f0f0f0;
    --color-fondo-claro: #f0f0f0;
    --color-texto-claro: #0d1b2a;
}

html, body {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina paddings predeterminados */
    width: 100%; /* Ocupa el 100% del ancho */
    height: 100%; /* Ocupa el 100% del alto */
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total */
    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
a {
    text-decoration: none; /* Elimina el subrayado de todos los enlaces */
}